{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %} {% endblock %} UNION</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'css/assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'css/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'css/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'css/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'css/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!--for the profile page-->
  <link rel="stylesheet" href="{%static 'css/assets/css/style.css'%}">
  <!-- Demo CSS (No need to include it into your project) -->
  <link rel="stylesheet" href="{%static 'css/assets/css/demo.css'%}">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>

    <!-- for the review -->
    <link rel="stylesheet" href="{%static 'css/review.css'%}">

  <!-- for the chat page -->
  <link rel="stylesheet" href="{%static 'css/chat.css'%}" />

  
  <!-- Main CSS File -->
  <link href="{%static 'css/assets/css/main.css'%}" rel="stylesheet">
  <link href="{%static 'css/login.css'%}" rel="stylesheet">
  <!--for password reset-->
  <link rel="stylesheet" href="{% static 'css/confirm1.css'%}">

  <!-- MATERIAL DESIGN ICONIC FONT -->
  <link rel="stylesheet" href="{%static 'css/fonts/material-design-iconic-font/css/material-design-iconic-font.css'%}">

  <!-- STYLE CSS -->
  <link rel="stylesheet" href="{%static 'css/css/style.css'%}">

  <!-- =======================================================
  * Template Name: Impact
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Updated: Jun 14 2024 with Bootstrap v5.3.3
  * Author: UNION.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
  .messages {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .messages li.success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
  }
  .messages li.error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

  </style>
</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:studenthelper04@gmail.com">studenthelper04@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>

        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- End Top Bar -->


    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        {%if user.is_authenticated%}
        <a href="{%url 'order:profile'%}" class="logo d-flex align-items-center">
        {%else%}
        <a href="/" class="logo d-flex align-items-center">
        {%endif%}
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">UNION</h1>
          <span>.</span>
        </a>
        
        <nav id="navmenu" class="navmenu">
          {%if user.is_authenticated%}
          <ul>
            <li><a href="#profile">profile</a></li>
            <li><a href="#services" class="active">Services<br></a></li>
            <li><a href="{%url 'user:logout'%}">logout</a></li>

            <!-- <li><a href="blog.html">Blog</a></li>
            <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li> -->
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          {%else%}
          <ul>
            <li><a href="/#hero" class="active">Home<br></a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#portfolio">Portfolio</a></li>
            <li><a href="/#team">Team</a></li>
            <li><a href="/#contact">contact</a></li>

          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

          {%endif%}
        </nav>

      </div>

    </div>

  </header>

  <main class="main">
{% block content %}

{% endblock %}
</main>


<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="#" class="logo d-flex align-items-center">
          <span class="sitename">UNION</span>
        </a>
        <p>At UNION, we believe in the power of knowledge and community. Our platform is designed to connect students and professionals, fostering a collaborative environment where everyone can thrive. Whether you need help with research, assignments, or skill development, OPTIMA provides the resources and support to help you succeed. Join us and be a part of a vibrant community dedicated to excellence and continuous learning.</p>
        
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="{%url 'user:terms_and_conditions'%}">Terms of service</a></li>
          <li><a href="{%url 'user:privacy_policy'%}">Privacy policy</a></li>
          <li><a href="{%url 'user:submit_review'%}">live your review here</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Assignment</a></li>
          <li><a href="#">graphics design</a></li>
          <li><a href="#">Transcription</a></li>
          <li><a href="#">Video Editing</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">programming</a></li>
          <li><a href="#">Web Development</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>Ethiopia</p>
        <p>Addis ababa </p>
        <p class="mt-4"><strong>Phone:</strong> <span>+953700112</span></p>
        <p><strong>Email:</strong> <span>studenthelper04@gmaial.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">UNION</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
     
    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{%static 'css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'css/assets/vendor/aos/aos.js'%}"></script>
<script src="{%static 'css/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{%static 'css/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{%static 'css/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
<script src="{%static 'css/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
<script src="{%static 'css/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>

<!-- for the order forms -->
<script src="{%static 'css/js/jquery-3.3.1.min.js'%}"></script>

<!-- JQUERY STEP -->
<script src="{%static 'css/js/jquery.steps.js'%}"></script>
<script src="{%static 'css/js/main.js'%}"></script>
<!-- Main JS File -->
<script src="{%static 'css/assets/js/main.js'%}"></script>
<script>
  let stars = document.getElementsByClassName("star");

function setRating(rating) {
let cls = "";
switch(rating) {
 case 1: cls = "one"; break;
 case 2: cls = "two"; break;
 case 3: cls = "three"; break;
 case 4: cls = "four"; break;
 case 5: cls = "five"; break;
}
for (let i = 0; i < stars.length; i++) {
 stars[i].className = "star " + (i < rating ? cls : "");
}
document.getElementById('id_rating').value = rating || 0; // Default to 0 if rating is not set
}

 // Hide messages after 5 seconds
setTimeout(function() {
    var messages = document.getElementById('messages');
    if (messages) {
        messages.style.display = 'none';
    }
}, 5000);

  
</script>

</body>

</html>