{%extends 'base.html'%} {% load static %}
<title>{% block title %}login {%endblock%} | assignment helper</title>
<!-- {% block stylesheets %} {{ block.super }}
  <!-- Additional CSS files for this page -->
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" /> -->
<!-- {% endblock %}  -->

{%block content%}

<main class="main">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Service Details</h1>
            <p class="mb-0">
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis
              quo odio sint voluptas consequatur ut a odio voluptatem. Sit
              dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
              quaerat ipsum dolorem.
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{%url 'user:home_page'%}">Home</a></li>
          <li class="current">Service Details</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Page Title -->

  <!-- Service Details Section -->
  <section id="service-details" class="service-details section">
    <form class="login_form"  method="post">
      <h3>Login Here</h3>
      {% csrf_token %} {% if messages %}
      <div class="alert-primary" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}
      <label for="username">Username</label>
      <input
        type="text"
        placeholder="Enter Username"
        id="username"
        name="username"
      />

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" name="pass" />
      {%if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}" />
      {%endif%}
      <button type="submit">Log In</button>
      <!-- <input type="button" value="" />  -->
      <!-- <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
      </div> -->
      <a href="{% url 'user:signup' %}">Create a account</a>
      <a href="{% url 'user:password-reset' %}">forgot password</a>
    </form>
  </section>
  <!-- /Service Details Section -->
</main>

{%endblock%}
