{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Graphics design {% endblock %}/title>

{% block content %}
<div class="wrapper">
  <form method="post" action="{% url 'order:graphics-design' %}" id="wizard" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- SECTION 1 -->
    <h2></h2>
    <section>
      <div class="inner">
        <div class="image-holder">
          <img src="{% static 'images/form-wizard-1.jpg' %}" alt="">
        </div>
        <div class="form-content">
          <div class="form-header">
            <h3>Graphics Design Submission Form</h3>
          </div>
          {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
          {% endif %}
          <p>Please fill with your details</p>
          <div class="form-row">
            <div class="form-holder">
              <input name="firstname" type="text" placeholder="First Name" class="form-control">
            </div>
            <div class="form-holder">
              <input name="lastname" type="text" placeholder="Last Name" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-holder">
              <input name="email" type="text" placeholder="Your Email" class="form-control">
            </div>
            <div class="form-holder">
              <input name="phone_number" type="text" placeholder="Phone Number" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
              <div class="checkbox-tick">
                <label class="male">
                  <input name="gender" type="radio" value="male" checked> Male<br>
                  <span class="checkmark"></span>
                </label>
                <label class="female">
                  <input type="radio" name="gender" value="female"> Female<br>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="checkbox-circle">
            <label>
              <input type="checkbox" name="accept_terms" checked> Nor again is there anyone who loves or pursues or desires to obtaini.
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 2 -->
    <h2></h2>
    <section>
      <div class="inner">
        <div class="image-holder">
          <img src="{% static 'images/form-wizard-2.jpg' %}" alt="">
        </div>
        <div class="form-content">
          <div class="form-header">
            <h3>Graphics Design Submission Form</h3>
          </div>
          <p>Please fill with additional info</p>
          <div class="form-row">
            <div class="form-holder w-100">
              <select name="service" class="form-control">
                <option value="">Select a Service</option>
                <option value="logo">Logo</option>
                <option value="photo_editing">Photo Editing</option>
                <option value="banner">Banner</option>
                <option value="birth_certificate">Birth Certificate</option>
                <option value="wedding_card">Wedding Card</option>
                <option value="business_card">Business Card</option>
                <option value="poster">Poster</option>
                <option value="advertisement">Advertisement</option>
                <option value="presentation_template">Presentation Template</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-holder">
              <input name="deadline" type="datetime-local" placeholder="Deadline" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-holder">
              <input name="design_file" type="file" placeholder="Upload Design File" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 3 -->
    <h2></h2>
    <section>
      <div class="inner">
        <div class="image-holder">
          <img src="{% static 'images/form-wizard-3.jpg' %}" alt="">
        </div>
        <div class="form-content">
          <div class="form-header">
            <h3>Graphics Design Submission Form</h3>
          </div>
          <p>Send an optional message</p>
          <div class="form-row">
            <div class="form-holder w-100">
              <textarea name="description" placeholder="Your message here!" class="form-control" style="height: 99px;"></textarea>
            </div>
          </div>
          <div class="checkbox-circle mt-24">
            <label>
              <input type="checkbox" name="accept_terms" checked> Please accept <a href="#">terms and conditions ?</a>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>

<!-- JQUERY -->

<!-- Template created and distributed by Colorlib -->
{% endblock %}
