{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {%endblock%} | assignment helper</title>
    {% block stylesheets %}
    <!-- Additional CSS files for this page -->
    {% endblock %}

    <link rel="stylesheet" href="{%static 'css/dashbored.css'%}" />
    <!-- <link rel="stylesheet" href="{%static 'css/footer.css'%}" /> -->
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="profile">
          <a href="{% url 'home:profile' %}">
            <li>
              <img class="me" src="{% static 'css/image.png'%}" alt="profile" />
            </li>
          </a>
          <li>
            <p>{{request.user.username}}</p>
          </li>
        </h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg height="24" viewBox="0 0 24 24" width="24">
            <path
              d="M3 12h18M3 6h18M3 18h18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </label>

        <ul class="links">
          <li><a href="{% url 'home:hdashboard' %}">Dashboard</a></li>
          <li><a href="{%url 'order:order_tabel'%}">ordered projects</a></li>
          <li><a href="{%url 'order:order'%}">order</a></li>
          <li><a href="{%url 'chat:chat'%}">inbox</a></li>
        </ul>

        <div class="buttons">
          <a href="{%url 'user:logout'%}" class="signup">Logout</a>
        </div>
      </nav>
    </header>

    <main>{%block content %} {%endblock%}</main>

    <footer>
      <!-- {% include 'footer.html' %} -->
    </footer>
  </body>
</html>
